.questionblock {
  padding: 2em 1em 1em 7em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #004d99;
  color: white;
  position:relative;
}

.questionblock::before {
  content: "?";
  /* background-color: yellow;*/
  color: #FFFFFF95; /* #990000; */
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  position:absolute;
  font-size: 70px;
 }
 
 .discussion {
  padding: 2em 1em 1em 7em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #408000;
  color: white;
  position:relative;
}

.discussion::before {
  content: "5" "\A" "minutes";
  white-space: pre-wrap;
  text-align: center;
  text-indent: 0px;
  /* background-color: yellow;*/
  color: #FFFFFF95; /* #990000; */
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  position:absolute;
  font-size: 18px;
 }


 .discussion-10 {
  padding: 2em 1em 1em 7em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #408000;
  color: white;
  position:relative;
}

.discussion-10::before {
  content: "10" "\A" "minutes";
  white-space: pre-wrap;
  text-align: center;
  text-indent: 0px;
  /* background-color: yellow;*/
  color: #FFFFFF95; /* #990000; */
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  position:absolute;
  font-size: 18px;
 }


 .discussion-15 {
  padding: 2em 1em 1em 7em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #408000;
  color: white;
  position:relative;
}

.discussion-15::before {
  content: "15" "\A" "minutes";
  white-space: pre-wrap;
  text-align: center;
  text-indent: 0px;
  /* background-color: yellow;*/
  color: #FFFFFF95; /* #990000; */
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  position:absolute;
  font-size: 18px;
 }


.main-container {
    margin-left: 210px;       # 0px = max. to the left (with default padding)
}

.sidenote, .marginnote { 
  max-width: 260px;
  float: right;
  clear: right;
  margin-right: -38%;     # previously was set to -60%
  width: 57%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  }


.row {
    margin-top: 70px;
    margin-left: -15px;
    margin-right: -10px;
    margin-bottom: 100px;
}

/* Other text boxes */

.outputbox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}


.notebox {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  border: 3px solid #eedcfc;
  border-radius: 10px;
  background: #eedcfc 5px center/3em no-repeat;
}

.note {
  background-image: url("./../GTA_R_intro/images/note.png");
  background-size: 100px;
}


.taskbox {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  border: 2px solid #ccffcc;
  border-radius: 10px;
  background: #ccffcc 5px center/5em no-repeat;
}

.task {
  background-image: url("./../GTA_R_intro/images/task.png");
  background-size: 100px;
}

.questionbox {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  background: #97dcfd 5px center/5em no-repeat;
}

.question {
  background-image: url("./../GTA_R_intro/images/question.png");
}


.codebox {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  border: 2px solid #f9d873;
  border-radius: 10px;
  background: #f9d873 5px center/5em no-repeat;
}

.code {
  background-image: url("./../GTA_R_intro/images/coding.png");
}

.importantbox {
  padding: 1em 1em 1em 8em;
  margin-bottom: 10px;
  border: 2px solid #FFA896;
  border-radius: 10px;
  background: #FFA896 5px center/5em no-repeat;
}

.important {
  background-image: url("./../GTA_R_intro/images/important.png");
}


/* Headings and text */

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
}

h1 {
  padding-top: 40px;
}

h1.title {
  text-align: center;
  color: #003300;
  font-weight: bold;
}

pre {
    border: 0px solid #cccccc;
    border-radius: 0px;
 }


body {
    font-size: 16px;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    color: #003300;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

pre code {
  font-size: 14px;
}

/* ---------- Links ----------------- */
a {
  color: #69b3a2;
}
a:hover {
  color: #69b3a2;
}




/* ---------- TOC ----------------- */
#TOC {
  top: 5%;
  position: fixed;
  width: 200px;
}
.tocify {
  border: none;
  color: grey;
  border-radius: 2px;
}
.list-group-item.active {
    color: #69b3a2;
    background-color: white;
    border-left: solid;
    border-color: #69b3a2;
}
.list-group-item:hover {
    color: #69b3a2;
    background-color: white;
    border-left: solid;
    border-color: #69b3a2;
}
.tocify-extend-page {
  display: none;
}
.tocify-header {
    text-indent: 0px;
}
.tocify .list-group-item {
  border-radius: 0px;
  font-size: 14px;
}

/* ------ This is just to fix the bug on Safari where table of content is on top of content */
.toc-content {
  margin-left: 210px
}

/* ------ Small media display */
@media (max-width: 1260px) {
  #TOC {
    width: auto;
    display: top;
  }
  .toc-content {
    margin-left: auto
  }
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 180px;
  margin: 0px 0px 0px 0px;
  background-image: url("../pics/Res_Soc_Life_logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}




/* ---------- Button ----------------- */
.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
    text-transform: ;
    color: #69b3a2;
}
.btn-default {
    color: #69b3a2;
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #69b3a2;
}

/* ---------- klippy logo - !!!!!! can't get it to work yet !!!!!!!! ----------- */

.btn-klippy  {
}

.btn-klippy .tooltipped .tooltipped-no-delay .tooltipped-w .octicon {
  width: 20px !important;
}